<nav class="navbar navbar-expand-md position-fixed top-0 z-3 w-100">
  <div class="container-fluid">
    <button class="navbar-brand">
      <img src="../assets/img/logo-full.png" alt="Logo de Parlons Anglais !" />
    </button>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="navbarNav"
      aria-expanded="!isNavbarCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s3">Pédagogie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s5">Tarifs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s6">Témoignages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s7">FAQ</a>
        </li>
        <li class="nav-item ms-2">
          <a
            href="https://calendly.com/nicolas-filizzola-english/seance-de-decouverte"
            class="nav-link button"
            target="_blank"
          >
            Réserver une séance gratuite
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
