@import "_breakpoints";
@import "_variables";

nav.navbar {
  background-color: $light1;

  button.navbar-brand {
    border: none;
    background: none;
    width: 200px;

    img {
      width: 100%;
    }

    @include sm {
      width: 150px;
    }
  }

  a.button {
    border-radius: 10px;
    border: 2px solid $secondary;
    color: $secondary;

    &:hover {
      border-color: darken($color: $secondary, $amount: 25);
      color: darken($color: $secondary, $amount: 25);
    }
  }
}
