$light1: #f5f5f5;
$light2: #f0f4ff;
$light3: #ffecea;
$dark1: #2e2e2e;
$primary: #263d9a;
$secondary: #ff4d3d;

.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.color-light {
  color: $light1;
}
.color-dark {
  color: $dark1;
}

$navHeight: 122px;
$viewportHeightMinusNav: calc(100vh - #{$navHeight});

$smNavHeight: 122px;
$smViewportHeightMinusNav: calc(100vh - #{$navHeight});
