<app-nav></app-nav>

<section
  class="section-1 d-flex justify-content-center align-items-center h-full-vh"
>
  <div class="me-5 fade-in-from-left">
    <h1 class="color-primary">
      Apprendre l’anglais comme je l’ai appris : <b>en immersion totale.</b>
    </h1>
    <h2 class="color-dark fs-4">
      Prof polyglotte, j’ai appris le français sans cours — maintenant, je vous
      montre comment faire pareil en anglais.
    </h2>
    <button class="button button-primary mt-2 sm-hidden">
      Réserver une session de découverte
    </button>
  </div>
  <img
    class="image-fade fade-in-from-right animation-delay-1"
    src="../assets/img/section-1.png"
    alt="Une photographie de Nicolas Filizzola, fondateur de Parlons Anglais !"
  />

  <button class="button button-primary mt-2 sm-only">
    Réserver une session de découverte
  </button>
</section>

<section class="section-2">
  <h1 class="text-center color-dark mt-4 mt-md-0">
    Vous avez pris des cours, appris la grammaire, passé des heures sur des
    applis… et pourtant vous n’osez toujours pas parler ?
  </h1>
  <hr class="mt-4" />
  <h2 class="mt-4 text-center color-dark">
    🎯 Chez Parlons Anglais, on fait le contraire : On pratique, on parle, on se
    trompe, on recommence —
    <span class="color-secondary">comme les natifs.</span>
  </h2>

  <div
    class="d-flex flex-column flex-md-row justify-content-between mt-0 mt-md-5"
  >
    <div class="minicard">
      <fa-icon [icon]="faComments" size="3x"></fa-icon>
      <p class="mt-2">Cours 100 % conversationnels</p>
    </div>

    <div class="minicard">
      <img src="../assets/img/france-flag.svg" alt="Drapeau français" />
      <p>Pour francophones, par un prof qui connaît vos blocages</p>
    </div>

    <div class="minicard">
      <fa-icon [icon]="faStar" size="3x"></fa-icon>
      <p class="mt-2">Des déclics dès les premiers échanges</p>
    </div>
  </div>
</section>

<section>
  <h1>Heading</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
    maxime laboriosam sunt amet odit aliquid perferendis beatae repellendus ut
    ex neque vel, ipsam cupiditate, unde a? Voluptas, veritatis earum.
  </p>
</section>

<section>
  <h1>Heading</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
    maxime laboriosam sunt amet odit aliquid perferendis beatae repellendus ut
    ex neque vel, ipsam cupiditate, unde a? Voluptas, veritatis earum.
  </p>
</section>

<section>
  <h1>Heading</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
    maxime laboriosam sunt amet odit aliquid perferendis beatae repellendus ut
    ex neque vel, ipsam cupiditate, unde a? Voluptas, veritatis earum.
  </p>
</section>

<section>
  <h1>Heading</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
    maxime laboriosam sunt amet odit aliquid perferendis beatae repellendus ut
    ex neque vel, ipsam cupiditate, unde a? Voluptas, veritatis earum.
  </p>
</section>

<section>
  <h1>Heading</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
    maxime laboriosam sunt amet odit aliquid perferendis beatae repellendus ut
    ex neque vel, ipsam cupiditate, unde a? Voluptas, veritatis earum.
  </p>
</section>
