<app-nav></app-nav>

<section
  class="section-1 d-flex justify-content-center align-items-center h-full-vh"
>
  <div class="me-5 fade-in-from-left">
    <h1 class="color-primary">
      Apprendre l’anglais comme je l’ai appris : <b>en immersion totale.</b>
    </h1>
    <h2 class="color-dark fs-4">
      Prof polyglotte, j’ai appris le français sans cours — maintenant, je vous
      montre comment faire pareil en anglais.
    </h2>
    <button class="button button-primary mt-2 sm-hidden">
      Réserver une session de découverte
    </button>
  </div>
  <img
    class="image-fade fade-in-from-right animation-delay-1"
    src="../assets/img/section-1.png"
    alt="Une photographie de Nicolas Filizzola, fondateur de Parlons Anglais !"
  />

  <button class="button button-primary mt-2 sm-only">
    Réserver une session de découverte
  </button>
</section>

<section class="section-2">
  <h1 class="text-center color-dark mt-4 mt-md-0">
    Vous avez pris des cours, appris la grammaire, passé des heures sur des
    applis… et pourtant vous n’osez toujours pas parler ?
  </h1>
  <hr class="mt-4" />
  <h2 class="mt-4 text-center color-dark">
    🎯 Chez Parlons Anglais, on fait le contraire : On pratique, on parle, on se
    trompe, on recommence —
    <span class="color-secondary"><b>comme les natifs.</b></span>
  </h2>

  <div
    class="d-flex flex-column flex-md-row justify-content-between mt-0 mt-md-5"
  >
    <div class="minicard">
      <fa-icon [icon]="faComments" size="3x"></fa-icon>
      <p class="mt-2 mb-0">Cours 100 % conversationnels</p>
    </div>

    <div class="minicard">
      <img src="../assets/img/france-flag.svg" alt="Drapeau français" />
      <p class="mb-0">
        Pour francophones, par un prof qui connaît vos blocages
      </p>
    </div>

    <div class="minicard">
      <fa-icon [icon]="faGlobe" size="3x"></fa-icon>
      <p class="mb-0">
        Entièrement en ligne : pratique, flexible, accessible partout
      </p>
    </div>

    <div class="minicard mb-4 mb-md-0">
      <fa-icon [icon]="faUsers" size="3x"></fa-icon>
      <p class="mt-2 mb-0">+100 élèves accompagnés avec succès depuis 2018</p>
    </div>
  </div>
</section>

<section
  class="section-3 d-flex justify-content-between align-items-center flex-column flex-md-row"
>
  <img
    src="../assets/img/section-3.jpg"
    alt="Nicolas en train de faire un cours"
    class="sm-only mobile"
  />
  <div class="mt-4 mt-md-0">
    <h1 class="mb-3">Ma méthode ? Moins de règles, plus de parole.</h1>
    <p>
      En arrivant en France, je parlais à peine la langue. J’ai été plongé en
      internat, sans traducteur, sans béquille…
    </p>
    <p>
      Un an plus tard, je parlais français
      <span class="text-decoration-underline">comme un natif.</span>
    </p>
    <p>Cette méthode, je l’ai adaptée pour vous :</p>
    <p class="d-flex my-3 align-items-center">
      <fa-icon [icon]="faCommentDots" class="me-3" size="2x"></fa-icon
      >Conversations réelles et engageantes
    </p>
    <p class="d-flex my-3 align-items-center">
      <fa-icon [icon]="faEarthAmericas" class="me-3" size="2x"></fa-icon
      >Vocabulaire utile, naturel, vivant
    </p>
    <p class="d-flex my-3 align-items-center">
      <fa-icon [icon]="faArrowsRotate" class="me-3" size="2x"></fa-icon
      >Répétition espacée + techniques d’input massif
    </p>
    <p class="d-flex my-3 align-items-center">
      <fa-icon [icon]="faFaceSmile" class="me-3" size="2x"></fa-icon>Feedback
      personnalisé et bienveillant
    </p>
    <p class="d-flex my-3 align-items-center">
      <fa-icon [icon]="faStar" class="me-3" size="2x"></fa-icon>Adaptation à
      votre niveau et vos objectifs
    </p>
  </div>
  <img
    src="../assets/img/section-3.jpg"
    alt="Nicolas en train de faire un cours"
    class="sm-hidden desktop"
  />
</section>

<section class="section-4 d-flex flex-column align-items-center">
  <h1 class="mb-4">
    Moi, c’est Nicolas. Prof d’anglais, polyglotte… et ancien élève galérien.
  </h1>
  <img
    src="../assets/img/section-4.png"
    alt="Portrait de Nicolas"
    class="mb-4"
  />

  <p>
    Je parle <span class="text-decoration-underline">4 langues couramment</span>
    (français, anglais, espagnol, italien). En 2017, j’ai étudié à Chicago
    (niveau C2), avant d’enseigner dans des instituts de langues en présentiel
    et en ligne.
  </p>
  <p>
    Depuis 6 ans, j’aide des francophones à transformer leur anglais, avec une
    méthode simple et fun basée sur la conversation.
  </p>
  <p>
    <b class="color-secondary">Pourquoi ça marche ?</b> Parce que je sais ce que
    c’est que d’apprendre une langue dans la vraie vie.
  </p>
</section>

<section>
  <h1>Heading</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
    maxime laboriosam sunt amet odit aliquid perferendis beatae repellendus ut
    ex neque vel, ipsam cupiditate, unde a? Voluptas, veritatis earum.
  </p>
</section>

<section>
  <h1>Heading</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
    maxime laboriosam sunt amet odit aliquid perferendis beatae repellendus ut
    ex neque vel, ipsam cupiditate, unde a? Voluptas, veritatis earum.
  </p>
</section>

<section>
  <h1>Heading</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
    maxime laboriosam sunt amet odit aliquid perferendis beatae repellendus ut
    ex neque vel, ipsam cupiditate, unde a? Voluptas, veritatis earum.
  </p>
</section>
