@import "_variables.scss";
@import "_breakpoints.scss";

:host {
  color: $light1;

  img {
    width: 150px;
    border-radius: 100%;
    border: 3px solid $light1;

    @include sm {
      width: 100px;
    }
  }
}
